<launch>

    <node name="drone_functions" pkg="drone" type="drone_functions_node.py" respawn="true" output="screen" />
    <node name="depth_camera_pyrealsense" pkg="drone" type="depth_camera_pyrealsense_node.py" respawn="true" output="screen" />
    <node name="GUI" pkg="drone" type="GUI_node.py" respawn="true" output="screen" />
    <node name="Navegacion" pkg="drone" type="navegation_test_node.py" respawn="true" output="screen" />


</launch>